<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-icon name="person-outline" style="zoom:4.0;"></ion-icon><p></p>
    <strong>this.name</strong>
  

  <ion-list>
    <ion-item>
      <ion-label>Mis datos</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Mis viajes</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</div>

</ion-content>

