<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="goToUserMenu()">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-icon name="qr-code-outline" style="zoom:4.0;"></ion-icon><p></p>
    <strong>Escaneá con tu cámara</strong>
      <p>los códigos QR de los paquetes.</p>
      <div *ngIf="scannedData">
        <p>
          Scanned Code Text : <b>{{ scannedData["text"] }}</b>
        </p>
        <p>
          Scanned Code Format : <b>{{ scannedData["format"] }}</b>
        </p>
      </div>
  </div>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
      <ion-button expand='block' margin (click)="goToChecks()">Empezar a escanear</ion-button>
  </ion-toolbar>
</ion-footer>